.post-container{
  grid-area: post;
  border-color:#d6d6d6	;
  border-width: 1px;
  border-style: solid; 
  border-radius: 3px;
  background-color:white;
  display:grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 50px 480px 45px auto auto auto auto 50px;
  grid-template-areas: 
  "header info" 
  "image image" 
  "engage bookmark"
  "views views"
  "caption caption"
  "comments likes"
  "time time"
  "addComment addComment";
} 

.post-header{
  grid-area: header;
}
.post-info{
  grid-area: info;
  display: flex;
  align-items: center;
} 
.post-image{
  grid-area: image;
  background-color:white;
}
.post-engage{
  grid-area: engage;
}
.post-bookmark{
  grid-area: bookmark;

  display: flex;
  align-items: center;
}
.post-views{
  grid-area: views;
  background-color:white;
}
.post-caption{
  grid-area: caption;
}
.post-comments{
  grid-area: comments;
}
.post-likes{
  grid-area: likes;
  background-color:white;
  display: flex;
  align-items: center;
}
.post-time{
  grid-area: time;
}
.post-addComment{
  grid-area: addComment;
}

.input.comment{
  border-color:	white	;
  border-style: solid;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  background: white;
  padding: 12px;
  border-radius: 3px;
  height: 10px;
  width: 530px;
  font-size: 20px;
  outline: none;
  color: black;
}
input.comment:focus::placeholder { color:transparent}
input.comment::placeholder { color:rgb(221, 207, 207); transition:color 0.3s ease; }
