.carsel{
  grid-area: carousel;
  border-color:#d6d6d6	;
  border-width: 1px;
  border-style: solid; 
  border-radius: 3px;
  background-color:white;
  /* margin-Left: 50px; */
  width: 645px;
  max-height: 118px;
  min-height: 118px;
  margin-top: 30px;
  
} 
.avatarCard{
  margin: auto;
  display: flex;
  justify-content: center;
}
.avatarPic{
  border: 3px solid white;
  border-radius: 30px;
  max-width: 100%;
  height: 56px;
}
.avatarName{
  text-align: center;
}
