/* WHEN SMALL */
@media only screen and (max-width: 760px) {
  .grid-container{
    grid-template-columns: 1fr 1fr 1fr;
    display:grid;
    text-align: center; 
    justify-content: center;
    justify-items: center;
    gap: 30px; 
  }

  .grid-item{
    justify-content: center;
    text-align: center;
    justify-items: center;
    padding-top: 12px;
  }
  .logo{
    min-width: 130px;
    max-width: 200px;
    justify-items: center;
    background-color: green;
  }
  .iconMenu{
    padding-top: 4px;
    min-width: 130px;
    max-width: 200px;
    /* text-align: center;
    justify-content: center;
    justify-items: center; */
    background-color: yellow;
  }
  .search{
    min-width: 130px;
    max-width: 200px;
    /* justify-content: center;
    justify-items: center;
    text-align: center; */
    background-color: red;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  .input{
    
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    height: 10px;
    width: 150px;
    font-size: 11px;
    outline: none;
  }
  input:focus::placeholder { color:transparent}
  input::placeholder { color:#222; transition:color 0.3s ease; }

}
/* WHEN BIG */
@media only screen and (min-width: 760px) {
  .grid-container{
    grid-template-columns: auto auto auto;
    text-align: center;
    display:grid;
    justify-content: center;
    justify-items: center;
    gap:95px;
  }
  .logo{
    justify-content: center;
    text-align: center;
    min-width: 130px;
    max-width: 200px;
    justify-items: center; 
    background-color: green;

  }
  .iconMenu{
    padding-top: 4px;
    min-width: 130px;
    max-width: 200px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    background-color: yellow;

  }
  .search{
    text-align: center;
    min-width: 130px;
    max-width: 200px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    background-color: red;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  .input{
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    height: 10px;
    width: 150px;
    font-size: 11px;
    outline: none;
  }
}