.scales {
  max-width: 768px; 
}
.parent {
  display: grid;
  place-items: center; 
   
}
/* .center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  
    height: 60px;
}  */
.grid-contaner{
  display:grid;
  grid-template-columns: auto auto auto;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  gap:40px;
  justify-content: center;

}

img {
  min-width: 100px;
}
.logo{
  background-color:yellow;
  text-align: center;
}
.iconMenu{
  padding-top: 10px;
  min-width: 100px;
  background-color: red;
  text-align: center;
}
.search{
  background-color: pink;
  text-align: center;

}
