.sidebar-container{
  grid-area: sidebar;
  justify-self: left;
  border-color:black;
  border-width: .5px;
  border-style: solid;
  width: 300px;
  height: 385px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 100px 30px 50px 50px 50px 50px 50px ;
  grid-template-areas:
  "activeUser activeUser button"
  "text text what"
  "suggestedUser0 suggestedUser0 follow"
  "suggestedUser1 suggestedUser1 follow"
  "suggestedUser2 suggestedUser2 follow"
  "suggestedUser3 suggestedUser3 follow"
  "suggestedUser4 suggestedUser4 follow" */
}

.activeUser {
  grid-area: activeUser;
  height: 100px;

}
.button {
  grid-area: button;
  height: 100px;
  display: flex;
  justify-content: right;
}
.what {
  grid-area: what; 
  display: flex;
  justify-content: right;
}
.text {
  grid-area: text;
  height: 25px;
  align-self:flex-start;
  justify-self: start;
} 
.follow{
  grid-area: follow;
}
.suggestedUser0 {
  grid-area: suggestedUser0;
}
.suggestedUser1 {
  grid-area: suggestedUser0;
}


