.post-container{
  grid-area: post;
  border-color:#d6d6d6	;
  border-width: 1px;
  border-style: solid; 
  border-radius: 3px;
  background-color:white;
  display:grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 50px 480px 45px auto auto auto auto 50px; */
} 
.post-info{
  display: flex;
  align-items: center;
} 
.post-image{
  background-color:white;
}
.post-bookmark{
  display: flex;
  align-items: center;
}
.post-views{
  background-color:white;
}
.post-likes{
  background-color:white;
  display: flex;
  align-items: center;
}
.input.comment{
  border-color:	white	;
  border-style: solid;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  background: white;
  padding: 12px;
  border-radius: 3px;
  height: 10px;
  width: 530px;
  font-size: 20px;
  outline: none;
  color: black;
}
input.comment:focus::placeholder { color:transparent}
input.comment::placeholder { color:rgb(221, 207, 207); transition:color 0.3s ease; }
